<!--Nav Bar-->
<div class="sticky-top">
	<nav class="navbar navbar-defult bg-dark navbar-dark" >
	  <div class="container-fluid">
		<a class="navbar-brand" class="text-end"><span style='font-size:40px;'>&#8461;&#120123;&#120141;</span></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
		  <div class="nav navbar-nav">
			<a ng-href="#/" class="btn btn-dark btn-lg"> Home </a>
			  <a ng-href="#/add-post" class="btn btn-dark btn-lg"> Add Post </a>
		  </div>
		</div>
	  </div>
	</nav>
	</div>