<!--singlepost.html-->
<img src="{{post.img}}" style="width: 100%;">
<h1>{{ post.title }}</h1>
<lead>{{ post.title1 }}</lead>
<h3>{{ post.content }}</h>
<h5>{{ post.content1 }}</h5> 
   <p>{{ post.text1 }}</p>
<h5>{{post.heading2}}</h5>
    <p>{{post.text2}}</p>
<h5>{{post.heading3}}</h5>
    <p>{{post.text3}}</p>
<h5>{{post.heading4}}</h5>
    <p>{{post.text4}}</p>
<h5>{{post.heading5}}</h5>
    <p>{{post.text5}}</p>
<h5>{{post.heading6}}</h5>
    <p>{{post.text6}}</p>
<h5>{{post.heading7}}</h5>
    <p>{{post.text7}}</p>
<h5>{{post.heading8}}</h5>
    <p>{{post.text8}}</p>
<h5>{{post.heading9}}</h5>
    <p>{{post.text9}}</p>
<h5>{{post.heading10}}</h5>
    <p>{{post.text10}}</p>
<h5>{{post.heading11}}</h5>
    <p>{{post.text11}}</p>
<h5>{{post.heading12}}</h5>
    <p>{{post.text12}}</p>
    <br>
    <p>{{post.text13}}</p>